<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
</head>

<body>
	<!-- Dialogo Modal -->
	<div id="usuariosModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
		th:fragment="modal-form">
		<div class="modal-dialog modal-fullscreen-lg-down modal-dialog-centered">
			<form id="form" action="#"  enctype="multipart/form-data">
				<div class="modal-content">
					<div class="modal-header bg-dark text-light modal-header">
						<h5 id="titleModal"></h5>
						<button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row row-cols-1">
							<div class="col col-sm-12">
								<div class="form-floating mb-3">
									<input type="text" class="form-control" id="nombre"
										placeholder="Nombre de Usuario" />
									<label for="nombre" class="text-info">Nombre</label>
									<div id="error-nombre"></div>
								</div>
							</div>
							<div class="col col-sm-12">
								<div class="form-floating mb-3">
									<input type="password" class="form-control" id="clave" placeholder="Contraseña" />
									<label for="pass" class="text-info">Contraseña</label>
									<div id="error-clave"></div>
								</div>
							</div>
							<div class="col col-sm-12">
								<div class="form-floating mb-3">
									<input type="password" class="form-control" id="repeat"
										placeholder="Repetir Contraseña" />
									<label for="repeat" class="text-info">Repetir Contraseña</label>
									<div id="error-repeat"></div>
								</div>
							</div>
							<div class="col col-sm-12">
								<div class="form-floating mb-3">
									<select id="permiso" name="permiso" class="form-select">
										<option th:each="p : ${permisos}" th:value="${p.id}" th:text="${p}"></option>
									</select>
									<label for="permiso" class="text-info">Permiso</label>
									<div id="error-permiso"></div>
								</div>
							</div>
							<fieldset>
								<legend class="primary-color text-light pl-2">Imagen de Perfil</legend>
								<div class="md-form">
									<img id="img_perfil" class="img-thumbnail rounded float-right mb-4  imagePreview"
										th:src="@{'/uploads/logo.png'}"
										th:alt="Imagen"
										style="max-width: 36%; margin-top: -50px; margin-right: 10px;" />
										<br />
									<input id="ruta_img" type="file" name="file" class="md-form rounded"
										onchange="previewImage(this, [256], 4);">
								</div>
							</fieldset>
						</div>

						<input type="hidden" class="form-control" id="numero" name="numero" />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cerrar</button>
						<button id="btn-guardar" type="button" class="btn btn-sm btn-info text-white">Guardar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
</body>

</html>